[Unit]
Description=Gardena Smart Control
After = network.target
StartLimitIntervalSec=60

[Service]
Type=simple
ExecStart=/usr/local/bin/python3.10 /repo/ops-domoticz-toolset/gardena/gardena.py
User = ladmin
Group = devops
Restart = always
RestartSec = 5
TimeoutStartSec = infinity 

[Install]
WantedBy = multi-user.target
